<div class="alert m-auto mb-2" style="background-color: rgb(246, 246, 246);">
<h2 >offers</h2>
</div>
<!-- <div class="alert d-flex justify-content-around">
<div class="btn-groub">
  <a routerLink="" class="btn btn-outline-dark text-center ">coupons</a>
</div>
  <a routerLink="" class="btn btn-outline-dark text-center ">offrers</a>
</div> -->

<div class="b-b mb-4">
  <div class="col-sm-16 col-md-16 pa-0">
    <div class="d-flex justify-content-around">
      <div class="btn-group">
          <button class="btn">
            <img src="https://www.talabat.com/assets/images/icon_promotions.webp" alt="menu tab" height="25">
          <span class="title f-18 f-m-15"><a routerLinkActive="active" routerLink="offers" class="text-decoration-none text-dark"> Promotions </a></span>
        </button>
      </div>

      <div class="btn-group">
        <button class="btn ">

          <img src="https://www.talabat.com/assets/images/icon_coupons.webp" alt="reviews tab" height="25">

        <span class="title f-18 f-m-15"><a routerLinkActive="active" routerLink="coupons" class="text-decoration-none text-dark"> Coupons </a></span>
      </button>
    </div>

    </div>

  </div>

</div>
<hr>

