

<form >
  <div class="form-group mb-5">
    <label ><h1>Restaurant Name</h1></label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name Of The Restaurant">
  </div>
  <div class="form-group d-flex justify-content-center">
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="form-group d-flex justify-content-center mt-5" >
  <button type="submit" class="btn " style="background-color: rgb(255, 90, 0); color:white ; border:1px solid  black ;">Submit</button>
</div>
</form>
